@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  color: #000;
  background: #fff;
  font-family: "Montserrat";
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  position: relative;
  padding: 0 10px;
  min-height: 365px;
  background: #E9E9E9;
}

.footer__title {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__title .footer__title_item {
  font-size: 18px;
  font-weight: 500;
}

.footer__sections {
  margin-top: 30px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__row .footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__row .footer__column.center {
  margin-right: 63px;
  text-align: center;
}
@media (max-width: 376px) {
  .footer__row .footer__column.center {
    margin-right: 54px;
  }
}
@media (max-width: 321px) {
  .footer__row .footer__column.center {
    margin-right: 25px;
  }
}
.footer__row .footer__column.right {
  text-align: right;
}

.footer__column_item {
  font-size: 14px;
  color: #909090;
  line-height: 17px;
}

.footer__image {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 376px) {
  .footer__image {
    margin-top: 30px;
  }
}
@media (max-width: 321px) {
  .footer__image {
    margin-top: 40px;
  }
}

@media (max-width: 321px) {
  .footer__image img {
    max-width: 70px;
    max-height: 70px;
  }
}

/*Footer Lines*/
.footer__line {
  display: block;
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #A4A4A4;
}
.footer__line.bottom {
  top: 210px;
}

@media (max-width: 376px) {
  .footer__line.bottom {
    top: 225px;
  }
}
@media (max-width: 321px) {
  .footer__line.bottom {
    top: 225px;
  }
}

/*============*/